<!doctype html>
<html lang="en">

<head>
    <title>История</title>
    <div th:replace="~{commons :: head}"></div>

</head>
<body>
   
	<div th:replace="~{commons :: nav}"></div>

   <section class="list"> 
    <div class="container my-2">
        <div class="card">
            <div class="row">
                <div class="card-body col">
                    <h2 class="text-center"> История бронирования</h2>
                    <div th:switch="${list}" class="container my-5">                        
                        <div class="col-md-12">
                            <h2 th:case="null"> Записей не найдено </h2>
                            <div th:case="*" class="overScroll">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                        <tr>
                                            <th>Когда заказано</th>
                                            <th>На дату</th>
                                            <th>На время</th>
                                            <th>Услуга</th>                                            
                                            <th>Оплачено</th>
                                            <th>Выполнено</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="entity : ${list}">
                                            <td th:text="${entity.dateFrom}"></td>
                                            <td th:text="${entity.dateTo}"></td>
                                            <td th:text="${entity.timeTo}"></td>
                                            <td th:text="${entity.mservice}"></td>
                                            <td th:text="${entity.isPaid}"></td>
                                            <td th:text="${entity.isEnded}"></td>
                                            <td class="btnInTable widthLastCol" th:if="${entity.isPaid == false && entity.isEnded==false}">
                                                <a th:href="@{/order/cancelReservation/{id}(id=${entity.id})}" class="btn btn-primary">
                                                    <i class="fas fa-trash">Отменить бронь</i>
                                                </a>
                                            </td>                       
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

	<div th:replace="~{commons :: footer}"></div>
</body>

</html>