<!doctype html>
<html lang="en">

<head>
    <title>Вход в систему</title>
    <div th:replace="~{commons :: head}"></div>

<style type="text/css">
    .logregform input, .billing-details input {
    width: 100%;
}
label {
    width: 100%;
 }
   </style>


</head>

<body>
    
	<div th:replace="~{commons :: nav}"></div>
	
<!-- SHOP CONTENT -->
	<section id="content">
		<div class="content-blog">
			<div class="container">
				<div class="row">
					<div class="page_header text-center">
						<h2>Аккаунт</h2>
						<p>Войдите для полного доступа</p>
						<h3 th:if="${success}" class="text-center" th:text="${success}">Ошибка регистрации. Проверьте уникальность имени и попробуйте еще раз</h3>
					</div>
					<div class="col-md-12">
					<div class="row shop-login">
					<div class="col-md-6">
						<div class="box-content">
							<h3 class="heading text-center">Я уже регистрировался</h3>
							<div class="clearfix space40"></div>
							<form class="logregform" action="/login1" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Логин</label>
											<input type="text" name="username" class="form-control" required>
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Пароль</label>
											<input type="password" name="password" class="form-control" required>
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="col-md-6">
									</div>
									<div class="col-md-6">
										<button type="submit" class="button btn-md pull-right">Войти</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					
					<div class="col-md-6">
						<div class="box-content">
							<h3 class="heading text-center">Регистрация</h3>
							<div class="clearfix space40"></div>
							<form class="logregform" action="/registration" method="post">
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите ФИО</label>
				                            <input type="text" name="fio" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Дату рождения</label>
				                            <input type="date" name="dateBorn" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите номер телефона</label>
				                            <input type="text" name="phone" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите адрес электронной почты</label>
				                            <input type="email" name="email" required>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
				                            <label>Введите логин</label>
				                            <input type="text" name="username" required>
										</div>
									</div>
								</div>
								<div class="clearfix space20"></div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Пароль</label>
											<input type="password" name="password" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="space20"></div>
										<button type="submit" class="button btn-md pull-right">Регистрация</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>


							
					</div>
				</div>
			</div>
		</div>
	</section>


    
    
	<div th:replace="~{commons :: js}"></div>
</body>

</html>