<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Новость</title>
    <div th:replace="~{commons :: head}"></div>
<body>
<div th:replace="~{commons :: nav}"></div>

<section class="news" id="news">
    <div class="container">
        <div class="row mainContainer newsBetween">
            <div class="col-md-12">
                <h1 th:text="${entity.name}">Блог</h1>
                <div class="newsItem-back">
                    <p th:text="${entity.dates}">25.05.2008</p>
                    <button class="myButton" onclick="history.back()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>Назад
                    </button>
                </div>
                <a class="myButton" th:href="'/news/edit/'+${entity.id}"
                   th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_ADMIN')}">Редактировать</a>
                <a class="myButton" th:href="'/news/delete/'+${entity.id}"
                   th:if="${#request.userPrincipal != null && #request.isUserInRole('ROLE_ADMIN')}">Удалить</a>
                <div th:utext="${entity.text}">${entity.text}</div>
            </div>
        </div>
    </div>
</section>


<div th:replace="~{commons :: footer}"></div>
</body>
</html>