<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 
<head>
    <title>Добавить/Редактировать</title>
    <div th:replace="~{commons :: head}"></div>
</head>
 
<body>

	<div th:replace="~{commons :: nav}"></div>

<section class="edit">
    <div class="container">
        <div class="row">
        <div class="col-12">
			 <h2 class="text-center">Услуга</h2>
             <form th:action="@{/service/create}" th:object="${entity}" method="post">
                <table>
                    <tbody>
                        <tr>
                            <th><label class="mx-2">Название</label></th>
                            <td><input type="text" th:field="*{name}" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Описание</label></th>
                            <td><input type="text" th:field="*{description}" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Цена</label></th>
                            <td><input type="number" th:field="*{price}" class="form-control" required min="-1" step="0.01"/></td>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Категория</label></th>
                            <td>
								<select name="catId" id="catId" required class="form-control">
                            		<option th:if="${entity.category==null}" name="catId" th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat}"
										th:selected="${entity.category==cat}"
										></option>
									<option th:if="${entity.category!=null}" name="catId" th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat}"
										th:selected="${entity.category.id==cat.id}"
										></option>
								</select>
							</td>
                        </tr>
                    </tbody>
                </table>
                <p class="my-5 justify-content-between d-flex">
                	<input type="hidden" id="id" th:field="*{id}">
                	<input type="button" class="btn btn-primary" value = " Назад " onclick="history.back()"/> 
                	<input type="submit" class="btn btn-primary" value=" Отправить ">
            	</p>
            </form>
        </div>
        </div>
    </div>    
</section>    
    
	<div th:replace="~{commons :: footer}"></div>
</body>
 
</html>